<a href="https://colab.research.google.com/github/joaopedroang/Colaboratory/blob/main/Aula_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Para adicionar um elemento a uma lista: '.append()';

nomes=['Zé', 'Tião', 'Joaquim']
nomes.append('Júlia')

# Para adicionar vários elementos a uma lista: '.extend()';

outrosNomes=['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

print(nomes)

['Zé', 'Tião', 'Joaquim', 'Júlia', 'Ana', 'Zabé', 'Maria']

In [ ]:
# Para remover o primerio elemento de uma lista: '.remove()';
# Para remover o último elemento de uma lista: '.pop()';

numeros = [2, 4, 1, 6, 9, 12]
numeros.remove(numeros[0])
numeros.pop()

print(numeros)

[4, 1, 6, 9]

In [ ]:
# Para ordenar elementos em ordem crescente: '.sort()';
# Para ordenar elementos em ordem decrescente: '.sorte(reverse=True)';

notas=[2, 10, 9, 4, 7, 3, 8];
notas.sort(reverse=True);
print(notas);

[10, 9, 8, 7, 4, 3, 2]

In [ ]:
# Pegar os números de uma lista;
# Criar outra lista com o dobro;

nums = [6, 5, 2, 1 ,7]
def dobro(lista):
  dobrolista = []
  for n in lista:
    dobrolista.append(n*2)
  return dobrolista

dobro(nums)

[12, 10, 4, 2, 14]

In [ ]:
## Outra forma mais simples:

newList = list(map(lambda x: x*2, nums))

newList

[12, 10, 4, 2, 14]

In [ ]:
# 1) Recebe os valores de uma lista numérica e retorna o quadrado

nums = [6, 5, 2, 1 ,7]
quadrado = list(map(lambda x: x*x, nums))

quadrado

[36, 25, 4, 1, 49]

In [ ]:
# 2) Recebe uma lista de nomes e retorna o tamanho de cada nome

frutas = ['banana', 'pera', 'uva', 'cajá', 'manga']
caracteres = list(map(lambda x: len(x), frutas))

caracteres

[6, 4, 3, 4, 5]

In [ ]:
# 3) Recebe os preços de uma lista e adiciona 2 a cada um deles

precos = [9.99, 2.50, 3.45, 7.00, 10.99]

adicionarDois = list(map(lambda x: x+2.00, precos))
adicionarDois

[11.99, 4.5, 5.45, 9.0, 12.99]

In [ ]:
# 4) Recebe uma lista de números e retorna apenas os números pares

numeros = [7, 3, 1, 4, 8, 23, 12]
pares = list(filter(lambda x: x%2==0, numeros))

pares

[4, 8, 12]

In [ ]:
# 5) Recebe uma lista de nomes e retona apenas os que comecem com a letra 'a'

nomes = ['fada', 'arado', 'miragem', 'atalho', 'alho']
letraA = list(filter(lambda x: x[0] == 'a', nomes))

letraA

['arado', 'atalho', 'alho']

In [ ]:
# 6) Recebe uma lista de notas e retorna apenas as maiores de 7

notas = [5, 6.5, 7.5, 9, 8, 2, 6]
aprovados = list(filter(lambda x: x>= 7, notas))

aprovados

[7.5, 9, 8]

In [ ]:
# 7) Recebe uma lista de nomes e retorna apenas os que começam com vogal

palavras = ['zangão', 'batata', 'ameixa', 'estrago', 'fanta', 'unha', 'ovo']
vogal = list(filter(lambda x: x[0].upper() in 'AEIOU', palavras))

vogal

['ameixa', 'estrago', 'unha', 'ovo']

In [ ]:
# 8) Recebe uma lista de números e retorna apenas os que são divisíveis por 3 e 5

num = [2, 3, 15, 30, 23, 60, 2, 45]
div = list(filter(lambda x: x%3 == 0 and x%5 == 0, num))

div

[15, 30, 60, 45]

In [ ]:
# 9) Recebe uma lista de nomes e retorna apenas os que iniciam com letra maiúscula

nomes = ['zangão', 'Zico', 'ameixa', 'Flamengo', 'fanta', 'unha', 'ovo']
maiuscula = list(filter(lambda x: x[0].isupper(), nomes))

maiuscula

['Zico', 'Flamengo']

In [ ]:
# 10) Recebe uma lista de strings e retorna apenas as iniciais de cada string

nomes = ['zangão', 'Zico', 'ameixa', 'Flamengo', 'fanta', 'unha', 'ovo']
iniciais = list(map(lambda x: x[0], nomes))

iniciais

['z', 'Z', 'a', 'F', 'f', 'u', 'o']

In [3]:
# 11) Recebe uma lista de números e retorna o quadrado apenas dos números pares

lista = [2, 3, 4, 1, 23, 6, 3]
pares = list(filter(lambda x: x%2 == 0, lista))
dobroPares = list(map(lambda x: x*x, pares))

dobroPares

[4, 16, 36]