<a href="https://colab.research.google.com/github/joaopedroang/Colaboratory/blob/main/Aula_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUPLAS

In [1]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [ ]:
# Tente inserir ou modificar algum elemento na tupla: 

tp_frutas.append('uva')

tp_frutas

Tuplas são coleçôes ordenadas e imutáveis de elementos em Python e podem conter qualquer tipo de dado, incluindo números, strings, booleanos, listas e até outras tuplas.

In [4]:
lst_frutas = list(tp_frutas)
lst_frutas

['maçã', 'banana', 'laranja', 'goiaba']

In [21]:
# Fatiamento (Slicing):
tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')

In [22]:
# Usando o processo de fatiamento, crie uma tupla apenas com os meses do segundo trimestre
tp_meses[3:6]

('abr', 'mai', 'jun')

In [12]:
# Ordenação de dados *sort(value, key = x)
# Ordenar os estados pelo DDD e não pelo nome
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83), ('MT', 65), ('AL', 82)]
sorted(uf_cod, key = lambda x: x[1])

[('SP', 11), ('RJ', 21), ('MT', 65), ('PE', 81), ('AL', 82), ('PB', 83)]

In [17]:
# Coloque a tupla a seguir em ordem:
nome_nasc = [('Zé', 2003), ('Maria', 1998), ('Alice', 2000)]

In [19]:
# do mais novo para o mais velho
sorted(nome_nasc, key = lambda x: x[1], reverse = True)

[('Zé', 2003), ('Alice', 2000), ('Maria', 1998)]

In [20]:
# do mais velho para o mais novo
sorted(nome_nasc, key = lambda x: x[1])

[('Maria', 1998), ('Alice', 2000), ('Zé', 2003)]

In [28]:
# Desempacotamento de valores
def nome_idade_uf():
  nome = "José"
  idade = 28
  uf = 'RN'
  return nome, idade, uf

name, age, uf = nome_idade_uf()
print(name, age, uf)

José 28 RN

A função zip() é utilizada para combinar elementos de duas ou mais sequências em pares ordenados. Ela retorna um iterador que pode ser convertido em uma lista, tupla ou outro tipo de coleção.

In [58]:
# Mapeamento de valores 
alunos = ('Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
notas = (5.5, 8, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))
dc_av1

(('Kelly', 5.5),
 ('Adauto', 8),
 ('Marceline', 9),
 ('Luana', 7.5),
 ('Henrique', 6.5))

In [66]:
# 1) Escreva uma função que receba duas tuplas como entrada e retorne 
# uma única tupla que seja a concatenação das duas
def concatenaTupla (tp1, tp2):
  return tp1 + tp2

a = (2, 4, 6)
b = (8, 10, 12)
concatenaTupla(a, b)

(2, 4, 6, 8, 10, 12)

In [64]:
# 2) Escreva uma função que receba uma tupla contendo o nome e endereço:
# logradouro, número e bairro de uma pessoa e retorne uma string formatada.

def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome:{nome}, residente a {logradouro}, {num}, {bairro}.'

dados = ('João Pedro', 'Rua Vigolvino Florentino Costa', 549, 'Manaíra')
print(formatada(dados))

Nome:João Pedro, residente a Rua Vigolvino Florentino Costa, 549, Manaíra.

In [75]:
# 3)Escreva uma função que receba uma lista de tuplas contendo nome e idade
# de pessoas e retorne a lista ordenada por idade.
def ordemIdade(tp1):
  name_age = tuple(zip(nome, idade))
  return sorted(name_age, key = lambda x: x[1])

nome = ('Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
idade = (18, 19, 21, 16, 20)

ordemIdade(name_age)

[('Luana', 16),
 ('Kelly', 18),
 ('Adauto', 19),
 ('Henrique', 20),
 ('Marceline', 21)]